[submodule "0x11.C-printf/printf"]
	path = 0x11.C-printf/printf
	url = https://github.com/clementigbinoba/printf
[submodule "monty"]
	path = monty
	url = ./monty
[submodule "binary_trees"]
	path = binary_trees
	url = https://github.com/OK-CodeClinic/binary_trees
